<section class="">
  <div class="container w-50">
    @if (step===1) {
    <form action="" [formGroup]="verifyEmail" (ngSubmit)="submitmail()">
      <div>
        <label for="Email" class="mb-1">Email</label>
        <input
          type="email"
          id="Email"
          name="Email "
          placeholder="Your Email "
          class="form-control"
          formControlName="email"
        />
        @if (verifyEmail.get("email")?.errors &&
        (verifyEmail.get("email")?.touched ||verifyEmail.get("email")?.dirty ))
        {
        <div class="alert alert-danger w-100 p-2 mt-2">
          @if (verifyEmail.get("email")?.getError('required')) {
          <p class="m-0">email is required</p>
          } @else if (verifyEmail.get("email")?.getError('email')) {
          <p class="m-0">email pattern is inavalid</p>
          }
        </div>
        }
        <button
          class="btn btn-main mt-3 ms-auto d-block"
          [disabled]="verifyEmail.invalid || isloading"
        > @if (isloading) {
          <span><i class="fas fa-spin fa-spinner"></i></span>
          }
          submit
        </button>
      </div>
    </form>
    } @else if (step===2) {
    <form action="" [formGroup]="verifyCode" (ngSubmit)="submitcode()">
      <div>
        <label for="code" class="mb-1">code</label>
        <input
          type="text"
          id="code"
          name="code "
          placeholder="code"
          class="form-control"
          formControlName="resetCode"
        />
        @if (verifyCode.get("resetCode")?.errors &&
        (verifyCode.get("resetCode")?.touched ||verifyCode.get("resetCode")?.dirty ))
        {
        <div class="alert alert-danger w-100 p-2 mt-2">
          @if (verifyCode.get("resetCode")?.getError('required')) {
          <p class="m-0">code is required</p>
          } 
          @else if (verifyCode.get("resetCode")?.getError('pattern')) {
            <p class="m-0">code is incorrect</p>

          }
        </div>
        }
       
        <button class="btn btn-main mt-3 ms-auto d-block" [disabled]="verifyCode.invalid || isloading"> submit code
        
          @if (isloading) {
            <span><i class="fas fa-spin fa-spinner"></i></span>
            }
        </button>
      </div>
      
    </form>
    } 
    @else if (step===3) {
    <form
      action=""
      [formGroup]="ResetPassword"
      (ngSubmit)="ResetPasswordSubmit()"
    >
      <div class="mb-3">
        <label for="Email" class="mb-1">Email</label>
        <input
        readonly
          type="email"
          id="Email"
          name="Email "
          placeholder="Your Email "
          class="form-control"
          formControlName="email"
        />
        @if (ResetPassword.get("email")?.errors &&
        (ResetPassword.get("email")?.touched ||ResetPassword.get("email")?.dirty ))
        {
        <div class="alert alert-danger w-100 p-2 mt-2">
          @if (ResetPassword.get("email")?.getError('required')) {
          <p class="m-0">email is required</p>
          } @else if (verifyEmail.get("email")?.getError('email')) {
          <p class="m-0">email pattern is inavalid</p>
          }
        </div>
        }
      </div>
      <div class="mb-3">
        <label for="Password" class="mb-1">Password</label>
        <input
          type="password"
          id="Password"
          name="Password "
          placeholder="Your Password "
          class="form-control"
          formControlName="newPassword"
        />
        @if (ResetPassword.get('newPassword')?.errors
        &&(ResetPassword.get("newPassword")?.dirty
        ||ResetPassword.get("newPassword")?.touched)) {
        <div class="alert alert-danger w-100 p-2 mt-2">
          @if (ResetPassword.get('newPassword')?.getError('required')) {
          <p class="m-0">password is required</p>
          } @else if (ResetPassword.get("newPassword")?.getError('pattern')) {
          <ul>
            <li>Start with a letter (either uppercase or lowercase).</li>
            <li>Be between 6 and 9 characters in total.</li>
            <li>Can only contain letters (A-Z or a-z) and numbers (0-9)</li>
          </ul>
          }
        </div>
        }
        <button
        class="btn btn-main mt-3 ms-auto d-block"
        [disabled]="ResetPassword.invalid || isloading "
      >
        Reset Password
         @if (isloading) {
          <span><i class="fas fa-spin fa-spinner"></i></span>
          }
      </button>
      </div>

      
    </form>
    }
  </div>
</section>
