<nav class="navbar navbar-expand-lg bg-main-light fixed-top">
  <div class="container">
    <a class="navbar-brand">
      <img
        src="../../../assets/images/freshcart-logo.svg"
        alt="freshcart logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav m-auto ">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="home"
            routerLinkActive="active-link"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="product"
            routerLinkActive="active-link"
            >Product</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="categories"
            routerLinkActive="active-link"
            >Categories</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="Brand"
            routerLinkActive="active-link"
            >Brand</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto d-flex align-items-baseline text-muted" >
        <li class="nav-item me-3">
          <a
            class="nav-link active "
            routerLink="cart"
            routerLinkActive="active-link"
            >
            <i class="fa-solid fa-cart-shopping fs-5 text-muted"></i>
          </a>
        </li>
        <li class="nav-item me-3">
          <i class="fa-brands fa-facebook fs-5"></i>
        </li>
        <li class="nav-item me-3">
          <i class="fa-brands fa-instagram fs-5"></i>
        </li>
        <li class="nav-item me-3">
          <i class="fa-brands fa-tiktok fs-5"></i>
        </li>
        <li class="nav-item me-3">
          <i class="fa-brands fa-youtube fs-5"></i>
        </li>
        <li class="nav-item me-3">
          <i class="fa-brands fa-linkedin fs-5"></i>
        </li>
        <a href="" class="me-3"
          >Logout
          <i class="fa-solid fa-right-from-bracket"></i>
        </a>
      </ul>
    </div>
  </div>
</nav>
